<section id="home" class="w-full flex lg:flex-row flex-col justify-center min-h-screen gap-10 max-container gborder-2 border-red-500 p-2">

<div class="relative xl:w-2/5 flex flex-col justify-center items-start w-full max-xl:padding-x  pt-28">
    <p>
       Our Summer Collection 
    </p>
    <h1>
        <span>New Arrival</span><br>
        <span>Nike </span>Shoes
    </h1>
    <p>BRING
        INSPIRATION
        AND
        INNOVATION
        TO
        EVERY
        ATHLETE*
        IN THE
        WORLD</p>
</div>

</section>