<main class="relative">
<app-navbar/>
<section class="xl:padding-1 wide:padding-b">
<app-hero/>
</section>
<section class="padding">
<app-products/>
</section>
<section class="padding">
<app-pquality/>
</section>
<section class="padding-x py-10">
<app-services/>
</section>
<section class="padding">
<app-soffer/>
  </section>
  <section class="padding bg-pale-blue ">
<app-creview/>
     </section>
     <section class="padding-x sm:py-32  py-16 w-full">
    <app-subscribe/>
       </section>
       <section class="padding-x bg-black padding-t  pb-8 ">
       <app-footer/>
         </section>
</main>